#smfaq {margin-top:10px;}
.smfaq-copy {text-align:center;font-size:smaller;}
#smfaq .question {margin:5px 0 5px 0;line-height:25px;padding:4px 30px;overflow: hidden;font-weight:bold;background:url(../../../media/com_smfaq/images/smfaq-arrow-close.gif) left no-repeat;}
#smfaq .active {color:#cf7207;background:url(../../../media/com_smfaq/images/smfaq-arrow-open.gif) left no-repeat; }
#smfaq-unpub.active {color:black;background:none; }
#smfaq .question:hover {cursor:pointer;background-color:#aacbf1;}
#smfaq .answer_content {padding:0 20px 20px 20px;}
#smfaq .answer {overflow:hidden;}
#smfaq .loader {background: url(../../../media/com_smfaq/images/ajax-loader.gif) no-repeat left;height:16px;display:block;}
#smfaq .button {display:inline-block;padding:3px 4px;-moz-border-radius:3px;-webkit-border-radius:10px;-khtml-border-radius:10px; border:#AAAAAA solid 1px;background:#ffffff}
#smfaq .button:hover {cursor:pointer; border-color:black}
#smfaq a.button, #smfaq a.button:hover {text-decoration:none;}
#smfaq .err-msg {padding:4px 10px 4px 30px;margin:2px 0 2px 0;background:#FFD7D7 url(../../../media/com_smfaq/images/error_icon.png) no-repeat 5px 50%; font-weight:bold;}
#smfaq .vote div.err-msg {padding:0;background:none;color:red;display:inline-block;}
#smfaq .ok-msg {padding:4px 10px 4px 30px;background:#A7E29A url(../../../media/com_smfaq/images/good_icon.png) no-repeat 5px 50%;}
#smfaq .vote {background: #DFDFDF;font-weight:bold; margin:10px 0 0 0;border:1px solid #936;padding:10px 10px;}
#smfaq .vote textarea {width:60%;height:80px;}
#smfaq .info {clear:both;background:#DEE9F4;line-height:20px;font-weight:bold;margin:10px 0 0 0;border:1px solid #BFBAB1;padding:10px}
#smfaq .author {text-align:left;}
#smfaq .ans-date, #smfaq .date {float:right;}
#smfaq .clr {clear:both;height:20px;}
#smfaq .back-link {margin:20px;text-align:center;}
#smfaq .single_question {font-weight:bold;margin:5px 0 5px 0;}
#smfaq .question-link {margin:5px 0 5px 0;}

/*question form */
#smfaq-form {width:400px;}
#smfaq-form .titleform {font-family:Arial,'Lucida Sans Unicode',Lucida,sans-serif;font-weight:bold;font-size:11pt;}
#smfaq-form label {float:left;margin:15px 0 0 0;width: 100px;}
#smfaq-form input {float:left;margin:15px 0 0 0;width:200px;clear:right;border:1px solid #999;}
#smfaq-form textarea {float:left;margin:10px 0 0 0;width:100%;border:1px solid #999;}
#smfaq-form input:focus, #smfaq-form textarea:focus  {border-color:#000;}
#smfaq-form .required {font-weight:bold;}
#smfaq-form .error {border-color:#D62950;}
#smfaq-form .count {clear:both;height:30px;}
#smfaq-form .lastcount {color:red;}
#smfaq-form img {float:left;}
#smfaq-form .captcha input {width:50px;argin:10px 0 0 0;clear:both;}
#smfaq-form .ch_email input {width:15px;height:15px;clear:both;}
#smfaq-form .ch_email label, #smfaq-form .captcha label {width:320px;clear:none;margin:14px 0 0 10px;}

.smfaq-print {text-align:right;margin:10px 15px 0 0;}
//div.smfaq-print:after  { clear:both; }
/* ie7 fix */
#smfaq span.author, #smfaq span.ans-author {*display:block;*float:left;*width:50%;}
#smfaq .ans-date, #smfaq .date {*display:block;*width:50%;*text-align:right;}
#smfaq .info {*padding-bottom:30px;}
#smfaq .vote {*display:inline-block;}
#smfaq .vote div.err-msg{*display:inline;zoom:1;}
